body{
  font-family: "BayWa-sans-Medium";
  background-color: var(--background);
  color: var(--baywa-green);
  display: flex;
  flex-direction: column;

  .hero-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .welcome-caption{
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1.75rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 2rem;

      img{
        border-radius: 0.5rem;
      }

      h1{
        font-family: BayWa-sans-SemiBold;
        font-weight: 500;
      }
    }

    .info-text{
      display: none;
      text-align: center;
      max-width: 60%;
      font-family: BayWa-sans-Book;
      font-weight: 200;
    }

    .resp-text{
      font-family: BayWa-sans-Book;
      font-weight: 200;
      margin-left: 1rem
    }
  }

  .screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: auto;
    padding: 10px; 
    box-sizing: border-box;

    img{
      margin: 2px; 
      height: 50%;
      width: auto;
      padding: 32px;
      object-fit: cover;
    }
  }

  .download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--baywa-green);
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
    gap: 1.5rem;

    .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;

      .info-text{
        display: flex;
        justify-content: center;
        white-space: nowrap;
      }

      .download-info{
        font-family: BayWa-sans-SemiBold;
        font-weight: 200;
        display: none;
      }
    }
  }

  .download-button {
    width: 17.75rem;
    margin-top: 1.25rem;
    font-size: 1.125rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    background-color: white;
    color: var(--baywa-green);
    border: none;

    &:hover{
      background-color: gray;
    }

    &:active{
      background-color: var(--baywa-darkgrey);
      color: white;
    }
  }

  .faq-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    .faq-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .faq-steps{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        padding: 1.5rem;
        background-color: white;
        gap: 2rem;

        .header{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;
        }

        .faq-text{
          text-align: justify;
          display: block;

          font-weight: normal;

          width: 20.8125rem;
          height: 24.6875rem;
          color: var(--baywa-darkgrey);
        }
      }
    }
  }
}
