footer{
  background-color: var(--footer);
  color: white;
  width: 100%;
  display: block;

  .footer-contents{
    padding: 15px 0;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    max-width: 1160px;
    margin: 0 auto;

    .baywa-footer-copyright{
      font-family: "BayWa-sans-Book", Arial, Helvetica, sans-serif;
      line-height: 1.4;
      margin: 0;
      padding: 0;
    }

    .footer-links{
      ul{
        display: flex;
        list-style-type: none;
      }

      li {
        position: relative;
        
        &:not(:last-child):after {
          content: "|";
          margin: 0 0.875rem;
        }
      }

      a{
        color: white;
        text-decoration: none;
        font-size: 0.875rem;
        font-family: "BayWa-sans-Book", Arial, Helvetica, Verdana, sans-serif;
        white-space: nowrap;
        line-height: inherit;
        cursor: pointer;
      }
    }
  }
}