header{
  margin-bottom: 0px;
  background: white;
  margin: 0 0 1.563rem 0;
  position: relative;
  box-shadow: -1px -1px -10px -2px #829b96;
  flex-direction: block;
  max-width: 100%;

  a{
    text-decoration: none;
    cursor: pointer;

    font-family: "BayWa-sans-Medium", Arial, Helvetica, sans-serif;
    font-size: 1rem;

    background-color: transparent;
  }

  .topbar{
    background: #0f8345 no-repeat center;
    background-size: contain;
    height: 56px;

    .grid-container{
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      max-width: 75rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;

      img:first-child{
        border: none;
      } 
      img{ 
        height: 56px;
        width: auto;
        border-left: 1px solid #fff;
      }
    }
  }

  .topbarItem{
    color: #fff;
    line-height: 56px;
    padding: 0 20px;
  }

  .top-navigation{
    color: #0f8345;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    img{
      background-color: #0f8345;
      height: 24px;
      width: 24px;
    }
    p{
      font-family: "BayWa-sans-Medium", Arial, Helvetica, sans-serif;
      padding: 12px;
      font-size: 20px;
    }
  }
}