header{
  background: var(--baywa-green);
  position: relative;
  box-shadow: -1px -1px 10px -2px #829b96;
  margin: 0 0 1.563rem 0;
  display: block;
  box-sizing: inherit;

  .topbar{
    height: 56px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    max-width: 75rem;    

    .topbar-Item{
      float: left;
      display: flex;
      height: 56px;
      border-left: 1px solid white;
      padding: 0 20px;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;

      img{
        height: 2rem;
        filter: none;
        transition: filter 0.3s;
      }
      
      a{
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        color: white;
      }

      &:hover{
        background-color: white;
        a{
          color: grey;
        }

        img{
          filter: grayscale(100%) brightness(50%);
        }
      }
    }
    .topbar-Item:first-child{
      border-left: none;
    }
  }

  .top-navigation{
    background-color: white;
    padding: 17px 0 6px 0;
    margin: 0 auto;
    
    .navigation-container{
      display: flex;
      align-items: center;
      gap: 1.25rem;

      img{
        width: 110px;
        height: 60px;
      }
  
      p{
        font-size: 1.2rem;
        font-family: BayWa-sans-Book;
      }
    }
  }
}