header{
  background: var(--baywa-green);
  box-shadow: -1px -1px 10px -2px #829b96;
  margin: 0 0 1.563rem 0;

  .topbar{
    transition: all 0.3s;
    display: none;
  }
}

.top-navigation{
  background-color: white;
  padding: 2rem;
}

.navigation-container{
  margin: 0 auto;
  max-width: 80rem;
  gap: 1.25rem;
  display: flex;
  align-items: center;

  img{
    width: 110px;
    height: auto;
  }

  h6{
    font-family: BayWa-sans-Book;
    font-weight: normal;
    display: none;
  }
}