:root{
  --baywa-green: #0f8345;
  --background: #f4f4f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BayWa-sans-Medium;
}

@font-face {
  font-family: "BayWa-sans-Medium";
  src: url("fonts/BayWaSansWeb-Medium.woff");
}

@font-face {
  font-family: "BayWa-sans-Book";
  src: url("fonts/BayWaSansWeb-Book.woff");
}

@font-face {
  font-family: "BayWa-sans-SemiBold";
  src: url("fonts/BayWaSansWeb-SemiBold.woff");
}