:root{
  --baywa-green: #0f8345;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BayWa-sans-Medium";
  src: url("fonts/BayWaSansWeb-Medium.woff");
}

@font-face {
  font-family: "BayWa-sans-Book";
  src: url("fonts/BayWaSansWeb-Book.woff");
}
