:root{
  --baywa-green: #0f8345;
  --background: #f4f4f4;
  --baywa-darkgrey: #51616f;
  --footer: #333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BayWa-sans-Medium, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "BayWa-sans-Medium";
  src: url("fonts/BayWaSansWeb-Medium.woff");
}

@font-face {
  font-family: "BayWa-sans-Book";
  src: url("fonts/BayWaSansWeb-Book.woff");
}

@font-face {
  font-family: "BayWa-sans-SemiBold";
  src: url("fonts/BayWaSansWeb-SemiBold.woff");
}

h1{
  font-size: 2.027rem;
}

h2{
  font-size: 1.802rem;
}

h3{
  font-size: 1.602rem;
}

h4{
  font-size: 1.424rem;
}

h5{
  font-size: 1.266rem;
}

h6{
  font-size: 1.125rem;
}

p{
  font-size: 1rem;
}

small{
  font-size: 0.889rem;
}

@media (min-width: 720px) {
  h1{
    font-size: 3.815rem;
  }
  
  h2{
    font-size: 3.052rem;
  }
  
  h3{
    font-size: 2.441rem;
  }
  
  h4{
    font-size: 1.953rem;
  }
  
  h5{
    font-size: 1.563rem;
  }
  
  h6{
    font-size: 1.25rem;
  }
  
  p{
    font-size: 1rem;
  }
  
  small{
    font-size: 0.8rem;
  }


  body{
    header{
      .topbar{
        transition: all 0.3s;
        display: flex;
        height: 56px;
        padding-right: 1rem;
        padding-left: 1rem;
        margin: 0 auto;
        max-width: 85rem;    
    
        .topbar-Item{
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 1rem;
    
          height: 56px;
          padding: 0 20px;
          border-left: 1px solid white;
    
          img{
            height: 2rem;
            filter: none;
            transition: filter 0.3s;
          }
          
          a{
            text-decoration: none;
            font-size: 1rem;
            cursor: pointer;
            color: white;
          }
    
          &:hover{
            background-color: white;
            a{
              color: grey;
            }
    
            img{
              filter: grayscale(100%) brightness(50%);
            }
          }
        }
        .topbar-Item:first-child{
          border-left: none;
        }
      }
    }

    main{
      .hero-section{
        display: flex;
        .welcome-caption{
          flex-direction: row;
        }
        .screenshots{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        .resp-text{
          display: none;
        }

        .info-text{
          display: flex;
        }
      }

      .download-section{
        gap: 1.5rem;
        .text{
          gap: 1.25rem;
          .download-info{
            display: flex;
          }
        }
      }
  
      .faq-section{
        display: flex;
        .faq-container{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }

    footer{
      .footer-contents{
        justify-content: space-between;
      }
    }
  }
}