:root{
  --baywa-green: #0f8345;
  --background: #f4f4f4;
  --baywa-darkgrey: #51616f;
  --footer: #333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BayWa-sans-Medium, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "BayWa-sans-Medium";
  src: url("fonts/BayWaSansWeb-Medium.woff");
}

@font-face {
  font-family: "BayWa-sans-Book";
  src: url("fonts/BayWaSansWeb-Book.woff");
}

@font-face {
  font-family: "BayWa-sans-SemiBold";
  src: url("fonts/BayWaSansWeb-SemiBold.woff");
}

h1{
  font-size: 3.815rem;
}

h2{
  font-size: 3.052rem;
}

h3{
  font-size: 2.441rem;
}

h4{
  font-size: 1.953rem;
}

h5{
  font-size: 1.563rem;
}

h6{
  font-size: 1.25rem;
}

p{
  font-size: 1rem;
}

small{
  font-size: 0.8rem;
}